#topnav {
    overflow:hidden; 
    background-color:rgb(234, 250, 17);
    color: rgb(32, 32, 15);
    font-weight: 500;
    border-radius:800px;
}

h1{
    text-align: center;
    font-size:30px;
    font-weight: bolder;
} 

fieldset{
    margin-top: 20px;
    margin-right: 500px;
    margin-left: 500px;
    padding: 20px;
    background-color: rgb(145, 206, 206);
    border-radius:80px;
}

.button{
    position:absolute;  
    background-color:orange; 
    color:rgb(36, 30, 30);
    border:none; 
    border-radius:10px; 
    box-shadow: rgb(207, 241, 9);
    padding: 5px;
}

a{
    font-weight: 700;
}

.cen{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
   
} 
.ce{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items:center;
}  
.rate{
    float: left;
    height:46px;
    padding:4px;
}

.rate:not(:checked)> input{
    position:absolute;
    top:-9999px;
}

.rate:not(:checked)>label{
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:60px;
    color:#ccc;
    align-content: center;
}

.rate> input:checked~label{
    color:rgb(82, 7, 105);
}

.rate:not(:checked)> label:hover,
.rate:not(:checked)> label:hover~label{
    color:#f0cd52;
}

body{
    background-image: url('11.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
}